{% extends 'layout.html.twig' %}

{% block title %}Compte non activé{% endblock %}

{% block content %}
<div class="container text-center py-4">
    <h2>Compte non activé</h2>
    <p>Merci de vérifier votre email 📩</p>
    <p>Clique sur le lien d'activation envoyé lors de ton inscription.</p>

    <a href="{{ path('app_home') }}" class="btn btn-dark mt-3">
        Retour à l'accueil
    </a>
</div>
{% endblock %}