{% extends "base.html.twig" %}

{# 
    Si tu veux ajouter du CSS spécifique sur une page 
    tu pourras le faire ici via ce block !
#}
{% block stylesheets %}{% endblock %}

{% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}

{% block body %}

<div class="min-vh-100 d-flex flex-column">

    {# HEADER inutile ici, déjà inclus dans base.html.twig #}

    <div class="flex-grow-1">
        {% block content %}{% endblock %}
    </div>

    {# FOOTER inutile ici, déjà inclus dans base.html.twig #}

</div>

{% endblock %}